html {
  font-size: 7px;
}

body {
  background-image: image("../public/sukno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#top_panel {
  /* self properties */
  width: max(500px, 99vw);
  height: max(40px, 10vh);
  font-size: max(40px, 10vh);
  
  border: medium solid black;
  background-color: green;
  border-radius: 10px;

  /* children properties */
  display: flex;
  justify-content: space-between;
}
  .top_panel__right {
      width: 49%;
      height: 84%;
      font-size: 84%;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 1%;
      
      display: flex;
  }
      .top_panel__header {
          font-size: 0.8em;
          color: yellow;

          display: flex;
          align-items: center;
      }
  .top_panel__left {
      width: 49%;
      height: 84%;
      font-size: 84%;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1%;

      display: flex;
      flex-direction: row-reverse;
      align-items: center;
  }
      .top_panel__button {
          font-size: 0.4em;
          margin-left: 2%;
      }