.score-svg {
    stroke-width: 5;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
    stroke: black;
    font-size: 14px;
    fill: none
}
    .score-svg__text {
        font-size: 14px;
    }
        .score-svg__text__line {
            stroke-width: 0;
            stroke-linecap: butt;
            stroke-linejoin: bevel;
            stroke: black;
            fill: black;
            
            font-size: 4em;
        }